<div class="footer">
  <div>
    <img src="" alt="">
    <p>contact@bimedoc.com</p>
    <p>Suivez-nous sur :</p>
     <div class="footer-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div>
    <h3>A propos</h3>
    <h3>Equipe</h3>
    <h3>Mission</h3>
    <h3>Engagements</h3>
  </div>
  <div>
    <h3>Services</h3>
    <h3>Tarif</h3>
    <h3>Fonctions</h3>
  </div>
  <div>
    <h3>Partenaires</h3>
    <img src="" alt="">
    <img src="" alt="">
  </div>

  <div>
    <p>Copyright © 2018 Bimedoc, tous droits réservés.</p>
    <p>🇫🇷 Développé en France</p>
  </div>
  <div>
    <p>Politique relative à la protection des données personnelles</p>
    <p>CGU</p>
  </div>
</div>


