<div class="footer">
  <div class="footer-grid-haut">
    <div>
      <a href="/bimedoc" class="">
          <%= image_tag "logo.svg", id:"logo" %>
      </a>
      <p>contact@bimedoc.com</p>
      <hr class="line-3"></hr>
      <p>Suivez-nous sur :</p>
       <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
    <div>
      <h3>A propos</h3>
      <h3>Equipe</h3>
      <h3>Mission</h3>
      <h3>Engagements</h3>
    </div>
    <div>
      <h3>Services</h3>
      <h3>Tarif</h3>
      <h3>Fonctions</h3>
    </div>
    <div>
      <h3>Partenaires</h3>
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </div>
  <div class="footer-grid-bas">
    <div class="copyrigth">
      <p>Copyright © 2018 Bimedoc, tous droits réservés.</p>
      <p>🇫🇷 Développé en France</p>
    </div>
    <div class="cgu">
      <p>
        <span>CGU</span>
        <span>Politique relative à la protection des données personnelles</span>
      </p>

    </div>
  </div>
</div>


