.vertical_align_50 {
  position:relative;
  height: 50vh;
}

.vertical_align_60 {
  position:relative;
  height: 60vh;
}

.vertical_align_70 {
  position:relative;
  height: 70vh;
}

.vertical_align_80 {
  position:relative;
  height: 80vh;
}

.vertical_align_90 {
  position:relative;
  height: 90vh;
}

.vertical_align_100 {
  position:relative;
  height: 100vh;
}

.centre-verticalement_50_100 {
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  max-width: 100%;
}

.centre-verticalement_50 {
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  max-width: 100%;
}
