.fas {
  color: white;
}

.icone_blue {
  color: $secondary;
}

.icone_green {
  color: $green;
}

.icone_purple {
  color: $purple;
}


.oval_14px {
  width: 16px;
  height: 16px;
  margin-bottom:2px;
  border-radius: 50%;
  background-color: $secondary;
  color: white;
  text-align: center;
  padding-top: 2px;
  margin-top:4px;
  margin-right: 1em;
}


.oval-blue {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $blue;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}

.oval-red {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f44336;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}

.oval-green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #50e3c2;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}

.oval-orange {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f5a623;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}

.oval-purple {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bd10e0;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}


.oval-green-25 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $secondary;
  // opacity: 0.3;
  color: white;
  text-align: center;
  padding-top: 6px;
}
