.img_integration {
  max-height: 50vh;
}

.img_equipe {
  max-height: 15vh
}


.img_size_5 {
  height: 5vh
}

.img_size_10 {
  height: 10vh
}

.img_size_20 {
  height: 20vh
}

.img_size_30 {
  height: 30vh
}

.img_size_40 {
  height: 40vh
}

.img_size_50 {
  height: 50vh
}
