/* Main navbar */
.navbar-bimedoc {
//   box-shadow: 0 2px 4px rgb(160,160,160);
  background: white;
//   height: 70px;
//   padding: 0px 30px;
//   display: flex;
//   align-items: center;
//   position: fixed;
//   width: 100%;
//   top: 0px;
//   transition: all 0.3s ease;
//   justify-content: space-between;
//   a {
//     padding-top: 10px;
//   }
}

/* Logo */
#logo {
  height: 40px;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 10px;
}

/* bouton primary */
.btn {
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
  color: white;

}

.navbar-default .navbar-nav > li > a.btn.btn-primary {
  padding: 12px 50px;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  margin-right: 20px;

}

.navbar-default .navbar-nav > li > a.btn.btn-primary:hover {
  padding: 12px 50px;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  font-weight: bold;
  border-radius: 8px;
  margin: 10px;
  margin-right: 20px;
  background: $blue;
  color: white;
  opacity: 0.8;

}

// .btn:hover {


// }

.link {

margin: 10px;
font-size: 16px;
font-weight: 400;
text-decoration: none;
color: $gray;
}

.link:hover {
  text-decoration: none;
}



.index {
  .navbar {
    transition: all ease 0.3s;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .navbar-nav > li > a.btn.btn-primary {
      background: white;
      color: $blue;
      border-color: white;
    }
    .navbar-nav > li > a.link.white {
      color: white;
    }
  }

  .navbar.navbar-white {
    background: white;
    -webkit-box-shadow: 0 1px 2px 0px #999;
    box-shadow: 0 1px 2px 0px #999;
    .navbar-nav > li > a.btn.btn-primary {
      background-color: $blue;
      color: white;
      border-color: $blue;
    }
    .navbar-nav > li > a.link.white {
      color: #777;
    }
  }
}


.navbar-toggle {
  margin-right: 27px;
  border: none;
  margin-top: 15px;
}


@media (max-width: 991.98px) {
  .icon-bar {
    background: $blue !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.8px) {
  .icon-bar {
    background: white !important;
  }
}



@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}



.index .navbar.navbar-white {
    background: white;
    box-shadow: none;
    /* -webkit-box-shadow: 0 1px 2px 0px #999; */
    /* box-shadow: 0 1px 2px 0px #999; */
}

.navbar-default {
  border: none;
}
