.droite {
  border-left: solid 2px $secondary;
}

.border-left {
  border-left: solid 2px $secondary;
}

.border-right {
  border-right: solid 2px $secondary;
}

.ensemble-icone {
  width: 80px;
  height: 80px;
  background-color: $secondary;
  border-radius: 50%;
  float: right;
  margin-right: -55px;
  margin-top: -80px;
  border: solid 5px white;
  position: relative;
  z-index: 2;
}

.ensemble-icone-left {
  width: 80px;
  height: 80px;
  background-color: $secondary;
  border-radius: 50%;
  float: left;
  margin-left: -55px;
  margin-top: -80px;
  border: solid 5px white;
  position: relative;
  z-index: 2;
}

.position-icone {
  text-align: center;
  padding-top: 19px;
}

.icone {
  color: white;
}

.hauteur {
  display: flex;
  align-items : stretch;
}



.decalerverslehaut {
  margin-top: -28vh;
}





// .suite {
//     float: right;
//     // position: relative;
//     height: 100px;
//     margin-right: 50%;
//     padding-right: 25px;
// }

// .verticale {

//     clear: both;
//     float: left;
//     width: 2px;
//     height: 50px;
//     margin-left: 24px;
//     margin-right: 24px;
//     background: #ff6742 !important;
// }


// .coin-gauche-bas {
//   float: left;
//     margin-top: 0;
//     border: 2px solid #ff6742;
//     border-width: 0 0 2px 2px;
//     border-radius: 0 0 0 20px;
// }


// .coin {
//     float: left;
//     width: 26px;
//     height: 26px;
//     margin: 24px 0 0 24px;
//     background: none !important;
//     border: 2px solid #ff6742;
//     border-color: #ff6742 !important;
//     border-width: 2px 0 0 2px;
//     border-radius: 20px 0 0 0;
// }

// .horizontale {
//   float: left;
//     width: 48px;
//     height: 2px;
//     margin-top: 24px;
//     background: #ff6742 !important;
// }

// .coin-droite-haut {
//   float: right;
//     margin-top: -2px;
//     margin-right: 24px;
//     border: 2px solid #ff6742;
//     border-width: 2px 2px 0 0;
//     border-radius: 0 20px 0 0;
// }





