.demo {
  margin-top: 65px;

}


.calendly-inline-widget {
  height: 100vh;
}



.demos {
  margin-bottom: 4vh;
  margin-top: 10vh;
}

.demo-titre {
    text-align:center;
    margin-bottom: 6vh;
    color: $purple;
}

.demo-texte {
  text-align: center;
}
