.oval-equipe {
  height: 146px;
  width: 146px;
  border-radius: 50%;
}

.line-5 {
  box-sizing: border-box;
  height: 1px;
  width: 375px;
  border: 1px solid #2F17FD;
}
.equipes {
  text-align: center;
  padding: 40px 0;
  p {
    text-align: left;
  }
}



.equipe {
  padding-bottom: 50px;
}

.margin {
  padding: 50px 150px;
  h2 {
    margin: 10px;
  }
}
