.oval-equipe {
  height: 146px;
  width: 146px;
  border-radius: 50%;
}

.equipes {
  text-align: center;
  padding: 0px 0 40px 0;
  p {
    text-align: left;
  }
}



.equipe {
  margin-top: 100px;
}

.margin {
  text-align: center;
  padding: 130px 150px 0px 150px;
  h2 {
    margin: 10px;
  }
}


.exposant p {
  font-size: 10px;
  font-style: oblique;
  line-height: 1.5em;
}

