.background_white {
  position: relative;
}



@media (max-width: 575.98px) {
  .hide_on_mobile {
    display: none;
  }

  .padding-top-mobile {
    padding-top: 60px;
  }
}




.background_white {
  background-color: white;
}


//header

#hero-image {
  margin-top: 120px;
  width: 767px;
  height: 462px;

}


@media (max-width: 575.98px) {
  .hero-description {
    padding: 5em 2em;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero-description {
    padding: 11em 2em 5em 2em;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-description {
    padding: 120px 0px 60px 50px;
    margin-bottom: 60px;
  }
}


@media (min-width: 1200px) {
  .hero-description {
    margin-top: 120px;
    padding: 120px 0px 60px 50px;
  }
}


.hero-description h1 {
  padding-bottom: 20px
}

.hero-description p {
  padding-top: 15px
}






@media (min-width: 576px) and (max-width: 991.98px) {
  #hero-bleu {
    display: none;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  #hero-bleu {
    width: 497px;
    position: absolute;
    // right: 0px;
    // top: 0px;
  }
}


@media (min-width: 1200px) {
  #hero-bleu {
    position: absolute;
    // right: 0px;
    // top: 0px;
    width: 48vw;
  }

  .container {
    min-height: calc(100vh - 124px);
  }
}



#color-blue {
  color: $blue;
}




@media (min-width: 1200px) {
  .bloc-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 550px;
    // grid-template-rows: 20% 30% 30% 20%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .sentence-developpe-par {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    margin: 20px;
  }

  .card-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  .card-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .card-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  .card-4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  .premier-pas {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    padding-left: 20px;
  }
}





.premier-pas p {
  padding-top: 10px;
}

.btn-purple {
  background-color: $purple;
  border-color: $purple;
  padding: 12px 30px;
}

.listes {
  grid-row: 2 / span 2;
  grid-column: 3 /span 1;
  margin: 0px 20px;
}

.liste {
  margin-bottom: 50px;
}

.cards {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 6px #9B9B9B;
  border-radius: 20px;
  margin: 20px;
  display: block;
  text-align: center
}








.services-personnalises {
  // display: grid;
  // // grid-template-columns: 1fr 1fr;
  // // grid-template-rows: 130px 1fr;
  margin-bottom: 100px;
}

.service-personnalise {
  // grid-row: 1 / span 1;
  // grid-column: 1 / span 2;
  // margin-top: 40px;
  margin-left: 20px;
   h2 {
    margin: 10px;
  }
}

// .enseignement {
//   grid-row: 2 / span 1;
//   grid-column: 1 / span 1;
// }

// .projet {
//   grid-row: 2 / span 1;
//   grid-column: 2 / span 1;
// }

.btn-gray {
  background-color: $gray;
  border-color: $gray;
  padding-left: 20px;
  padding-right: 20px;
}

#green-bold {
  font-weight: bold;
  color: $green;
  padding: 20px;
}

#texte {
  padding-bottom: 20px;
}

//partenaires

.cards-partenaires {
  background: white;
  padding: 40px;
  box-shadow: 0 2px 6px #9B9B9B;
  border-radius: 20px;
  margin: 40px;
  display: block;
  text-align: center;
}


.partenaires {
  padding-bottom: 150px;
}

.padding-left {
  // padding-left: 20px;
  text-align: center;
}

.titre-partenaire {
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  h2 {
    margin: 10px;
  }
}

#logo-partenaire {
  // height: 100px;
  // width: 300px;
  text-align: center;
  margin: 10px 0;

  height: 15vh;
  width: 40vh;

}

#logo-partenaire-h7 {
  // height: 100px;
  // width: 300px;
  text-align: center;
  margin: 10px 0;

  height: 15vh;
  width: 15vh;

}



.projet p {
  padding-bottom: 43px;
}


  h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #2D333A;
  }
  h2 {
    font-size: 32px;
    color: #2D333A;
  }

  h3 {
    font-size: 16px;
    color: #2D333A;
    font-weight: bold;
  }

  a {
    color: rgba(0,0,0,0.25);
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: 400;
  }

p {
  font-size: 16px;
  font-weight: 400;
  color: #9B9B9B;
  line-height: 24px;
}





