.hero {
  height: 90vh;
}

.background_white {
  position: relative;
}

.cards {
  a {
    text-decoration: none;
  }
}

.cards:hover {
  border: 2px solid #3294f0;
  // opacity: 0.8;
  // background-color: $blue;

  // h3 {
  //   color:blue;
  // }

    h3 {
      color: #3294f0;
      font-weight: bold;
    }

}






.background_white {
  background-color: white;
}



//header

#image-header {
  width: 100%;
}

#image-header-mobile {
  width: 80%;
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero-image {
  margin-top: 120px;
  width: 767px;
  height: 462px;

}


@media (max-width: 575.98px) {
  .hero-description {
    padding: 5em 2em;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero-description {
    padding: 11em 2em 5em 2em;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-description {
    padding: 120px 0px 60px 0px;
    margin-bottom: 60px;
  }
}


@media (min-width: 1200px) {
  .hero-description {
    margin-top: 120px;
    padding: 120px 0px 60px 0px;
  }
}


/*.hero-description h1 {
  padding-bottom: 20px
}

.hero-description p {
  padding-top: 15px
}*/


.vertical_align_hero {
  position:relative;
  height: 70vh;
}

.centre-verticalement_hero {
  position: absolute;
  top: 50%; /* poussé de la moitié de hauteur du référent */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  font-weight: bold;
  max-width: 100%;
}



@media (min-width: 576px) and (max-width: 991.98px) {
  #hero-bleu {
    display: none;
  }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
  #hero-bleu {
    width: 497px;
    position: absolute;
    // right: 0px;
    // top: 0px;
  }
}


@media (min-width: 1200px) {
  #hero-bleu {
    position: absolute;
    // right: 0px;
    // top: 0px;
    width: 48vw;
  }

  // .container {
  //   min-height: calc(100vh - 124px);
  // }
}



#color-blue {
  color: $secondary;
}




@media (min-width: 1200px) {
  .bloc-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 550px;
    // grid-template-rows: 20% 30% 30% 20%;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .sentence-developpe-par {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    margin: 20px;
  }

  .card-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    cursor: pointer;
  }

  .card-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .card-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
  }

  .card-4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
  }

  .premier-pas {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    padding-left: 20px;
  }
}





.premier-pas p {
  padding-top: 10px;
}


.deux-boutons-gauche {
  display: flex;
  flex-wrap: wrap;

}

.btn-blue {
  background-color: $secondary;
  border-color: $secondary;
  padding: 12px 20px;
  margin: 0px 1em 0px 0px !important;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: $secondary;
  border-color: $secondary;
  padding: 12px 20px;
  margin: 0px 1em 0px 0px !important;
  border-radius: 4px;
  opacity: 0.8;
}

.btn-white {
  background-color: white;
  border-color: $secondary;
  padding: 12px 20px;
  margin: 0px 1em 0px 0px !important;
  border-radius: 4px;
  color:$secondary;
}

.btn-white:hover {
  background-color: $secondary;
  border-color: $secondary;
  color: white;
  opacity: 0.8;
}


.listes {
  grid-row: 2 / span 2;
  grid-column: 3 /span 1;
  margin: 0px 20px;
}

.liste {
  margin-bottom: 50px;
}

.cards {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 6px #9B9B9B;
  border-radius: 20px;
  margin: 20px;
  display: block;
  text-align: center
}








.services-personnalises {
  // display: grid;
  // // grid-template-columns: 1fr 1fr;
  // // grid-template-rows: 130px 1fr;
  margin-bottom: 100px;
}

.service-personnalise {
  // grid-row: 1 / span 1;
  // grid-column: 1 / span 2;
  // margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 20px;
   h2 {
    margin: 10px;
  }
}

// .enseignement {
//   grid-row: 2 / span 1;
//   grid-column: 1 / span 1;
// }

// .projet {
//   grid-row: 2 / span 1;
//   grid-column: 2 / span 1;
// }

.btn-gray {
  background-color: $gray;
  border-color: $gray;
  padding-left: 20px;
  padding-right: 20px;
}

#green-bold {
  font-weight: bold;
  color: $green;
  padding: 20px;
}

#texte {
  padding-bottom: 20px;
}

//partenaires

.cards-partenaires {
  background: white;
  padding: 40px;
  box-shadow: 0 2px 6px #9B9B9B;
  border-radius: 20px;
  margin: 40px;
  display: block;
  text-align: center;
}


/*.partenaires {
  padding-bottom: 150px;
}*/

.partenaire {
  height: 20vh;
}

.padding-left {
  // padding-left: 20px;
  text-align: center;
}

.titre-partenaire {
  text-align: left;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  h2 {
    margin: 10px;
  }
}

#logo-partenaire {
  // margin-top: 5vh;
  text-align: center;
  max-height: 15vh;
  max-width: 30vh;
}

#logo-media {
  margin-top: 5vh;
  text-align: center;
  max-height: 15vh;
  max-width: 40vh;
}


#logo-client {
  margin-top: 5vh;
  text-align: center;
  height: 7vh;

}

#logo-lumiere {
  text-align: center;
  max-width: 90%;
}

.center {
  justify-content: center;
}

.projet p {
  padding-bottom: 43px;
}


  h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #2D333A;
  }
  h2 {
    font-size: 32px;
    color: #2D333A;
  }

  h3 {
    font-size: 16px;
    color: #2D333A;
    font-weight: bold;
  }

  a {
    color: rgba(0,0,0,0.25);
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: 400;
  }

p {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
}


.boxe_professionnel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  border: 2px solid #a9d2f9;
  border-radius: 6px;
  background-color: #fff;
  min-height: 168px;
  max-width: 350px;
  padding: 24px 24px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px 0 rgba(8,55,73,.07);
  -moz-box-shadow: 0 0 8px 0 rgba(8,55,73,.07);
  box-shadow: 0 0 8px 0 rgba(8,55,73,.07);
  transition: all .3s;


  p {
    color: #083749;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    font-size: 16px;
  }

  hover {
    color: #3294f0;
  }

  img {
    margin-bottom: 12px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
}

.boxe_professionnel:hover {
    p {
      color: #3294f0;
      font-weight: bold;
    }
  border: 2px solid #3294f0;
  }

.boxe_professionnels {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 100px;

}




.header_gray {
  // background-color: $light-gray;
  background: linear-gradient(to bottom, $light-gray, #FBFAFA);
  min-height: 115vh;
  position: relative;
}

// .cards_fonctionalites {
//   position: absolute;
//   top: 50%; /* poussé de la moitié de hauteur du référent */
//   transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
// }

.card_fonctionalite {
  // width: 40vw;
  // max-width: 320px;
  min-height: 70vh;
  padding: 32px;
  margin: 5vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fafafc;
  box-shadow: 0 15px 50px 0 rgba(28,15,125,0.05);
  text-align: center;

}

.card_fonctionalite_industriel {
  max-height: 70vh;
  padding: 32px;
  margin: 5vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fafafc;
  box-shadow: 0 15px 50px 0 rgba(28,15,125,0.05);
  text-align: center;

}

// .cards_fonctionnalites_center {
//   display: flex;
//   justify-content: center;
// }

.button {
  display: flex;
    justify-content: center;
    margin-top: auto;

    a {
      width: 240px;
    border-radius: 4px;
    border-style: none;
    transition: all 0.3s ease;
    background-color: #f5f6fa;
    padding: 12px 8px 12px 8px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #414660;
    }
}

.button-blog {
  display: flex;
    justify-content: center;
    margin-top: auto;

    a {
      min-width: 240px;
    border-radius: 4px;
    border-style: none;
    transition: all 0.3s ease;
    background-color: #f5f6fa;
    padding: 12px 8px 12px 8px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #414660;
    }
}


#card-fonctionnalite-image {
  height: 10vh;

}

#card-fonctionnalite-image-blog {
  max-height: 20vh;
  width: auto;

}

.section-border.reverse .bottom-concave-white {
    display: block;
    background: $light-gray;
}




.rond-play {
    height: 96px;
    width: 96px;
    border-radius: 50px;
    background-color: $blue;
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(0.5, -0.01, 0, 1.005);
    left: 30%;
    position: absolute;
    top: 40%;
    z-index: 2;
}

.play a {
    transition: 100ms;
    fill: rgba(122,105,231,0.7);
}

.icon-play {
  text-align: center;
  color: white;
  padding-top: 38px;

  .fas {
    color: white;
  }
}


.wrapper_partenaires {
  background: #f4f9fc;
}

.box-shadow-gray {
  box-shadow: 0px 1px 10px #9B9B9B;
}


