.index {
  background-color: white;
}




#hero-image {
  width: 767px;
  height: 462px;

}


.hero-description {
  padding: 60px 80px;
}


.hero-description h1 {
  padding-bottom: 20px
}

.hero-description p {
  padding-top: 15px
}


#color-blue {
  color: $blue;
}



.bloc-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 600px;
  grid-template-rows: 20% 30% 30% 20%;
}

.sentence-developpe-par {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  margin: 20px;
}

.card-1 {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.card-2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.card-3 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.card-4 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.premier-pas {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
}
.premier-pas p {
  padding-top: 10px;
}

.btn-purple {
  background-color: $purple;
  border-color: $purple;
}

.listes {
  grid-row: 2 / span 2;
  grid-column: 3 /span 1;
  margin: 0px 20px;
}

.cards {
  background: white;
  padding: 20px;
  box-shadow: 0 2px 6px #9B9B9B;
  border-radius: 20px;
  margin: 20px;
  display: block;
  text-align: center

}





.services-personnalises {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 1fr;
}

.service-personnalise {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  margin-left: 20px
}

.enseignement {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.projet {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.btn-gray {
  background-color: $gray;
  border-color: $gray;
}

#green-bold {
  font-weight: bold;
  color: $green;
}


h1 {
  color: $black;
  font-size: 40px;

}

h3 {
  font-size: 17px;
  color: $black;
}

p {
  font-size: 15px;
  color: $gray;
}

h2 {
  font-size: 25px;
  color: $black;
}




