.contenu {
  text-align: center;

}

#securite-image {
  padding-bottom: 10px;
}

.description {
  padding: 0 300px;
}

.cards p {
  font-weight: bold;
  color: black;
}

.container {
  padding-bottom: 2équié0px;
}

#margin {
  margin: 0 20px;
  text-align: left;
}
