.tarif {
  display: grid;
  grid-template-rows: 220px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 70px;
  padding-bottom: 70px;
}

.description {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  text-align: center;
  margin: auto auto;
}

.standard {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.premium{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;

}

.avance {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}


.lists {
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
  p{
    margin-bottom: 0;
  }
}

.padding {
  padding-top: 94px;
}

.color-green {
  color: $green;
}

.exemple {
  margin: 0 auto;
  color: $green;
  height: 37px;
  width: 199px;
  border-radius: 20px;
  background-color: rgba(80,227,194,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
}

.premium h2 {
  color: $purple;
}

.avance h2 {
  color: $blue;
}

#blue {
  color: $blue;
}

.btn-bottom {
  padding-top: 30px;

}

.centre {
  margin: 0 auto;
}

.prochainement {
  margin-top: 18px;
}

.prix {
  font-color: black;
  font-weight: bold;
}
