@media (min-width: 992px) {
  .tarif {
    display: grid;
    grid-template-rows: 220px 1fr 220px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .description {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    text-align: center;
    margin: auto auto;
  }

  .standard {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .collaborateur{
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    text-align: center;
    margin-top: 2em;

  }

  .avance {
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
  }
}

.lists {
  text-align: left;
  list-style-type: none;
  padding-top: 10px;
  p{
    margin-bottom: 0;
  }
}

.padding {
  padding-top: 94px;
}

.color-green {
  color: $green;
}

.exemple-green {
  margin: 0 auto;
  color: $green;
  height: 37px;
  width: 199px;
  border-radius: 20px;
  background-color: rgba(80,227,194,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    color: $green;
  }
}

.exemple-purple {
  margin: 0 auto;
  color: $purple;
  height: 37px;
  width: 199px;
  border-radius: 20px;
  background-color: rgba(189,16,224,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    color: $purple;
  }
}

.premium h2 {
  color: $purple;
}

.avance h2 {
  color: $purple;
}

#blue {
  color: $blue;
}

.btn-bottom {
  padding-top: 30px;
}

.centre {
  margin: 0 auto;
}

.prochainement {
  margin-top: 18px;
}



.prix {
  font-color: black;
  font-weight: bold;
}

.tarifs h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}


.collapse-collaborateur {
  color: $blue;
  text-decoration: none;
}

.collapse-collaborateur:hover {
  color: $blue;
  opacity: 0.8;
  text-decoration: none;
}

.table {
  color: black;
  margin: 0px;
}

.collaborateur {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
