.oval-ok {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0.3;
  color: $purple;
  margin-bottom: 10px;
}

.titre {
  // box-sizing: border-box;
  // height: 1px;
  // width: 375px;
  border-bottom: 1px solid #979797;;
}

.black {
  color: $black;
}

.fonctionnalite {
  padding-top: 20px;
  padding-bottom: 50px;
}
