.container-perso {
  max-width: 1066px;
  margin-left: auto;
  margin-right: auto;
}



.oval-ok {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(47, 23,253, 0.3);
  // opacity: 0.3;
  color: $blue;
  text-align: center;
  padding-top: 5px;
}

.titre {
  border-bottom: 1px solid #979797;
  // padding-top: 50px;
}

.black {
  padding-top: 10px;
  color: $black;
  font-weight: bold;
}

.fonctionnalites {
    padding-top: 80px;
}

.fonctionnalite {
  padding-top: 20px;
  padding-bottom: 50px;
}

.card-hover:hover {
  padding: 10px;
  background-color: $secondary;
  border-radius: 8px;
  p {
    color: white;
  }
}

.size {
  font-size: 24px;
}


.description-fonctinnalites {
  padding: 150px 100px 0px 100px;
  text-align: center;
}

.prochainement {
  background-color: #F8E71C;
  padding: 7px 10px;
  height: 38px;
  width: 153px;
  text-align: center;
  border-radius: 4px;
  color: $black;
}
