<div class="mt-10 mb-10 container">
  <div class="float70left">
    <div class="pb-1 pl-2 pr-2">

      <h2>SIDEP</h2>
      <h4 class="pt-1 pb-1">Déclaration des tests antigéniques COVID-19</h4>
      <p>Plateforme de déclaration des tests antigéniques COVID-19 réalisé par les pharmaciens d'officines. </p>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 40vh">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active" style="height: 40vh">
          <%= image_tag "agenda_integration_sidep.png" %>
        </div>
        <div class="item" style="height: 40vh">
          <%= image_tag "testantigenique_integration_sidep.png" %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précedent</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>

      <h3 class="mb-1 pt-1">Fonctionnalités</h3>
      <div class=flex>
          <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration des tests antigéniques COVID-19</p>
      </div>
    </div>
    <div class=" pt-1 pb-1 pl-2 pr-2">
      <h3 class="mb-1">Apport de l’intégration SIDEP < > Bimedoc</h3>
      <div class=flex>
       <i class="fal fa-check oval_14px fa-xs"></i><p>Déclaration en un clic depuis Bimedoc du résultat du test antigénique COVID19</p>
      </div>
      <div class=flex>
       <i class="fal fa-check oval_14px fa-xs"></i><p>Reprise automatique des informations renseignés par le patient lors de la prise de rendez-vous</p>
      </div>
      <div class=flex>
        <i class="fal fa-check oval_14px fa-xs"></i><p>Remplissage du formulaire par le patient à l'officine, puis envoi du résultat par le pharmacien</p>
      </div>
    </div>
    <div class="  pt-1 pb-2 pl-2 pr-2">
      <h3>SIDEP s’intègre à ces fonctionnalités Bimedoc</h3>
      <span class="label label-default">Test antigénique COVID-19</span>
      <span class="label label-default">Agenda et prise de rendez-vous</span>
      <span class="label label-default">Flux d'actualité</span>
    </div>
  </div>
  <div class="float20right hide_on_mobile">
      <h5 class="pt-5">Fournisseur</h5>
      <h6>Direction générale de la santé</h6>
      <h5 class="pt-2 pb-1">Catégorie</h5>
      <span class="label label-default">COVID-19</span>
      <h5 class="pt-3">Exigences</h5>
      <h6>Abonnement Bimedoc</h6>
  </div>
</div>
