// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2F17FD;

$yellow: #FDB631;
$orange: #E67E22;
$green: #50E3C2;
$gray: #9B9B9B;
$light-gray: #F4F4F4;
$black: #2D333A;
$purple: #BD10E0;
$gold: #FFD252;

/*gris foncé*/
$primary : #666666;
/*Bleu secondaire */
$secondary: #0A73FE;
