  <div class="hero">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="hero-description">
          <h1><span id="color-blue">Les activités de pharmacie clinique en toute simplicité</span> pour les officinaux et les hospitaliers</h1>
          <%= link_to " 👉 Premiers pas avec Bimedoc", "/fonctionnalites.html", class: "btn-purple btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
       <!--  <div class="hero-image">
          <%= image_tag "hero.svg", id: "hero-image" %>
        </div> -->
        <div class="hero-asset hide_on_mobile">
          <%= image_tag "bimedoc-preview.svg", id: "hero-bleu" %>
        </div>
      </div>
    </div>
  </div>
