<div class="container">
  <div class="description-fonctinnalites">
    <h1>Conciliation des traitements médicamenteux</h1>
    <p class="mt-4 mb-4">Nous avons développé, une solution de réalisation de la conciliation médicamenteuse la plus complète du marché. L'ensemble du processus de conciliation médicamenteuse est directement intégré dans la même solution. Vous pouvez réalisé aussi bien un bilan médicamenteux, la conciliation médicamenteuse d'entrée, la conciliation médicamenteuse de sortie tout en bénéficiant des technologies développés par Bimedoc (messagerie sécurisée, DMP, Plan de prise, synthèse pdf des différentes étapes). Un objectif : gagner du temps!</p>
  </div>



  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">1 - Réalisez votre <b>historique médicamenteux facilement</b> à l'aide de notre outil de drag&drop</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">2 - A n'importe qu'elle moment du processus de conciliation vous pouvez réaliser une <b>analyse pharmaceutique</b> à l'aide de notre assistant bimedoc</b>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">3 - A chaque étape un synthèse pdf est généré ainsi qu'un plan de prise à la sortie d'hospitalisation</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">4 - les différents documents peuvent être transmis par messagerie séucrisée directement depuis l'application ainsi que déposé dans le DMP du patient</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>
  <div class="row hauteur">
    <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
      <p class="pl-1 pr-3">5 - Un tableau de bord vous permet d'avoir une vision instantanné de votre activité en vue de remplir les exigences pour le CAQES</p>
      <div class="ensemble-icone">
        <div class="position-icone">
          <i class="fas fa-search fa-2x icone"></i>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
      <p class="pl-1 pr-3">test</p>
    </div>
  </div>

</div>


