<div class="container mt-10" style="min-height: 40vh">

  <div class="card_nestor pt-2 pl-2 pr-2 pb-1 mt-2 mb-5" style="min-height: 30vh">
    <div class="text-center">
      <%= image_tag "lumiere.png", id: "logo-lumiere" %>
    </div>

    <p style="text-align: center; font-weight: bold;" class="mt-2">Merci, votre demande de démonstration a bien été prise en compte.</p>
    <p style="text-align: center">Un mail récapitulatif vous a été envoyé avec l'ensemble des informations nécessaire pour la connexion à la visioconférence.</p>
    <p style="text-align: center">En cas de problème, n'hésitez pas à nous contacter par mail (contact@bimedoc.com) ou par téléphone.</p>
  </div>
</div>

