<div class="container">
  <div class="demos">
    <h2 class="demo-titre">Demandez une démo</h2>
    <p class="demo-texte"style="color:black">Parce qu'une démonstration vaut toujours mieux qu'un long discours :)</p>
    <p class="demo-texte" >Quoi de mieux qu'une présentation de Bimedoc pour découvrir tout son potentiel ? Laissez vous guider et découvrez comment votre journée de travail peut être simplifiée.</p>
</div>


<div class="demo">

<!-- Début de widget en ligne Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/bimedoc/demo" ></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Fin de widget en ligne Calendly -->

</div>


</div>



