  <div class="container">
    <div class="container-perso">
      <div class="description-fonctinnalites">
        <h2>Des <span id="color-blue">fonctionnalités sur mesure </span>pour les pharmaciens d'officine et les pharmaciens hospitaliers</h2>
      </div>
      <div class="fonctionnalites">
        <div class="titre">
          <h3 class="size">💊 Activités Pharmaceutiques</h3>
          <tr class="line"> </tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Bilan (partagé) de médication</p>
              <p>Selon les recommandations de l’assurance maladie et de la SFPC.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Conciliation médicamenteuse</p>
              <p>Possibilité d’établir un bilan médicamenteux et de concilier ce dernier au regard de la prescription en cours.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Entretien pharmaceutique</p>
              <p>Réalisation des entretiens pharmaceutiques AVK, AOD, corticoïdes inhalés.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
        </div>

        <div class="titre">
          <h3 class="size">🧠 Expertise pharmaceutique clinique</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Interactions médicamenteuses</p>
              <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse. </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Détection des médicaments innapropriés</p>
              <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Problème de galénique</p>
              <p>Liste nationale sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (OMéDIT Haute Normandie - Société Française de Pharmacie Clinique).</p>
            </div>
          </div>
        </div>

        <div class="titre">
          <h3 class="size">🚀 Gagnez du temps</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Dossier de soin pharmaceutique</p>
              <p>Rettouvez les informations administratives (officine référente, médecin traitant, etc..) et physiopathologiques de vos patients.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Pré-saisie des avis pharmaceutiques</p>
              <p>Intervention pharmaceutique pré-enregistrée pouvant être modfiée. </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Déclaration automatique au portail AmeliPro</p>
              <p>Vos activités d’accompagnement pharmaceutique (entretien pharmaceutique, bilan partagé de médication) sont automatiquement déclarées à l’assurance maladie. Vous n’avez plus besoin de vous connecter à votre espace AmeliPro.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
        </div>


        <div class="titre">
          <h3 class="size">👨‍💻 Un outil connecté</h3>
          <tr class="line"></tr>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Dossier médical partagé</p>
              <p>Permet l’envoi des comptes rendus directement dans le DMP du patient.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Lien ville hôpital</p>
              <p>Partage des informations entre la ville et l'hôpital à l'aide d'un seul outils. Communication facilitée avec les autres professionnels de santé à l'aide de la messagerie sécurisée et du répertoire des professionnels de santé.</p>
              <p class="prochainement">Prochainement</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="fonctionnalite">
              <i class="fas fa-check oval-ok"></i>
              <p class="black">Synthèse automatique</p>
              <p>Synthèse des avis pharmaceutiques, plan de prise, consentement patient, historique médicamenteux.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


