<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 vertical_align">
      <div class="centre-verticalement">
        <h2 style="font-weight:bold">Vous souhaitez intégrer un algorithme d'analyse pharmaceutique dans votre logiciel ?</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 vertical_align">
      <%= image_tag "indsutriel_header.svg", class: "image_bpm centre-verticalement"%>
    </div>
  </div>

  <div class="titre">
    <h3 class="size">🧠 Expertise pharmaceutique clinique</h3>
    <tr class="line"></tr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Interactions médicamenteuses</p>
        <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse. </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Détection des médicaments inapropriés</p>
        <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Problème de galénique</p>
        <p>Liste sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (HAS, Thériaque, OMéDIT Haute Normandie, SFPC).</p>
      </div>
    </div>
  </div>

<!--   <div class="row">
    <div class="col-xs-12 col-sm-6 vertical_align">
      <div class="centre-verticalement">
        <h2 style="font-weight:bold">Un accès facile</h2>
        <p>La technologie Bimedoc est disponible via une API et est facilement interopérable avec les logiciels d'aide à la prescription et dispensation à l'aide de la norme PN13 et PAM</p>
      </div>
    </div>
  </div> -->

</div>
<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Pour en savoir plus, contactez nous</h2>
    <div class="btn button_wrapper_bpm">
      <a href="mailto:contact@bimedoc.com" class="contact">contact@bimedoc.com</a>
    </div>
  </div>
</div>
