<div class="container">
  <div class="description-fonctinnalites">
    <h2>Vous souhaitez <span id="color-blue">intégrer notre assistant d'analyse pharmaceutique</span> directement dans votre solution ?</h2>
    <p class="mt-4 mb-4">Bimedoc vous propose d'intégrer directement dans votre logiciel notre assistant d'analyse pharmaceutique innovant. Bimedoc entreprise est integrable sous forme d'API, de Widget ou d'iframe</p>
  </div>

  <div class="titre">
    <h3 class="size mt-4"><i class="fas fa-code-branch"></i> Assistant d'analyse pharmaceutique</h3>
    <tr class="line"></tr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Interactions médicamenteuses</p>
        <p>Référentiels des interactions médicamenteuses de l’ANSM, interactions avec les plantes médicinales, le jus de pamplemousse... </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Détection des médicaments inappropriés</p>
        <p>Intégration des listes Stopp & Start, Laroche, Anticholinergic Drug Scale, déficit en G6PD, cascades médicamenteuses.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Problème de forme galénique</p>
        <p>Liste sur les médicaments per os concernant l'écrasement des comprimés et l'ouverture des gélules (HAS, Thériaque, OMéDIT Haute Normandie, SFPC).</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Effets indésirables</p>
        <p>Recherche des médicaments pouvant engendrer un effets indésirables et classification ordre de fréquence</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Monographies des médicaments</p>
        <p>Accès à l'ensemble des monographies des médicaments commercialisés sur le marché français</p>
      </div>
    </div>
  </div>

  <div class="titre">
    <h3 class="size"><i class="fas fa-cog"></i> Priorité au développeurs</h3>
    <tr class="line"></tr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Intégration facile</p>
        <p>Intégrez l'assistant de Bimedoc et proposez un serivce à forte valeur ajoutée pour vos utilisateurs en quelques heures</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Design personnalisé</p>
        <p>Bimedoc s'adapte à votre solution et vous propose un design sur mesure</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="fonctionnalite">
        <i class="fas fa-check oval-ok hide_on_mobile"></i>
        <p class="black">Une solution modulaire</p>
        <p>Une équipe dédiée vous accompagne dans l’implémentation de l'assistant Bimedoc et vous propose des améliorations en fonction de vos besoins.</p>
      </div>
    </div>
  </div>


<!--   <div class="row">
    <div class="col-xs-12 col-sm-6 vertical_align">
      <div class="centre-verticalement">
        <h2 style="font-weight:bold">Un accès facile</h2>
        <p>La technologie Bimedoc est disponible via une API et est facilement interopérable avec les logiciels d'aide à la prescription et dispensation à l'aide de la norme PN13 et PAM</p>
      </div>
    </div>
  </div> -->

</div>
<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Pour en savoir plus, contactez nous</h2>
    <div class="btn button_wrapper_bpm">
      <a href="mailto:contact@bimedoc.com" class="contact">contact@bimedoc.com</a>
    </div>
  </div>
</div>
