<div class="container">
  <div class="mt-10">
    <h2 class="demo-titre">Formulaire d'inscription</h2>
    <p class="demo-texte"style="color:black">Offre sans engagement, annulez quand vous le souhaitez. Formation à l’outil offerte.</p>
  </div>

  <div class="card_nestor pt-2 pl-2 pr-2  mb-5 mt-3 ">
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
      portalId: "6923136",
      formId: "ea8a1d00-5098-417b-872d-a41a1e1ff732"
    });
    </script>
  </div>

  <div class="mt-5 mb-5">
    <h2 class="demo-titre">Questions fréquentes</h2>
    <div class="row">
      <div class="col-sm-6 col-xs-12 mb-2">
        <div class="flex">
          <i class="fal fa-check oval_14px fa-xs"></i>
          <p style="font-size: 20px; font-weight: bold; color: black;">Ma pharmacie est déjà cliente</p>
        </div>

        <p>Une seule pharmacie virtuelle est créé par pharmacie physique. Il est possible d'ajouter directement un pharmacien supplémentaire dans l'application : <a href="https://wikibimedoc.crisp.help/fr/article/inviter-les-membres-de-son-equipe-pharmaceutique-1r5abvt/" style="color: blue">ajouter un collaborateur.</a> </p>
      </div>
      <div class="col-sm-6 col-xs-12 mb-2">
        <div class="flex">
          <i class="fal fa-check oval_14px fa-xs"></i>
          <p style="font-size: 20px; font-weight: bold; color: black;">Une inscription par pharmacien ?</p>
        </div>
        <p>L'inscription est gérée par pharmacie. Une fois la pharmacie créée, l'administrateur ajoute ses collaborateurs (pharmaciens, préparateurs, étudiants) à l'aide la procédure suivante : <a href="https://wikibimedoc.crisp.help/fr/article/inviter-les-membres-de-son-equipe-pharmaceutique-1r5abvt/" style="color: blue">ajouter un collaborateur.</a> </p>
      </div>
    </div>
  </div>
</div>
