
  <div class="container mt-5 mb-5">
    <div class="mentionlegale">
      <h1>Mentions légales</h1>
      <ul>
        <li><p>Le présent site www.bimedsociété par actionoc.com est la propriété de la société BIMEDOC,  simplifiée au capital de 1 184,00 euros.</p></li>
        <li><p>Inscription au RCS de Lyon sous le n° 844 208 090.</p></li>
        <li><p>Siége social : 18 - 20 Rue Tronchet, 69160 Lyon</p></li>
        <li><p>Adresse mail: contact@bimedoc.com</p></li>
        <li><p>Directeur de publication : Monsieur Pierre Renaudin ayant la qualité de Président de la société Bimedoc.</p></li>
        <li><p>Numéro de la TVA: FR66844208090.</p></li>
        <li><p>Hébergeurs: Amazon Web Services & hébergement des données de santé: Amazon Web Services Europe</p></li>
      </ul>


<!--       <%= link_to "Retour à l'accueil", "/index.html", class: "btn-blue btn btn-primary" %>
 -->    </div>
  </div>

