
  <div class="container">
    <div class="mentionlegale">
      <h1>Mentions légales</h1>
      <ul>
        <li><p>Le présent site www.bimedoc.com est la propriété de la société BIMEDOC, société par action simplifiée au capital de 60,00 euros.</p></li>
        <li><p>Inscription au RCS de Lyon sous le n° 844 208 090.</p></li>
        <li><p>Siége social : 51 rue Henri Gorjus, 69004, Lyon</p></li>
        <li><p>Adresse mail: contactn@bimedoc.com</p></li>
        <li><p>Directeur de publication : Monsieur Pierre Renaudin ayant la qualité de Président de la société Bimedoc.</p></li>
        <li><p>Numéro de la TVA: FR66844208090.</p></li>
        <li><p>Héberguers: Amazon Web Services & hébergement des données de santé: IBM France</p></li>
      </ul>


      <%= link_to "Retour à l'accueil", "/bimedoc", class: "btn-blue btn btn-primary" %>
    </div>
  </div>

