
  <div class="container">
    <div class="mentionlegale">
      <h2>Mentions légales</h2>
      <p>Le présent site www.bimedoc.com est la propriété de la société BIMEDOC, société par action simplifiée au capital de 6 euros.</p>
      <p>inscription au RCS de XXXX sous le n° XXXXX.</p>
      <p>Siége social : XXXXXX</p>
      <p>Adresse mail: pierre.renaudin@bimedoc.com</p>

      <p>Directeur de publication : Monsieur Pierre Renaudin ayant la qualité de Président de la société Bimedoc.</p>

      <p>Numéro de la TVA: XXXXX.</p>

      <p>Déclaration auprès de la CNIL sous les numéros XXXXXXXX</p>

      <p>Héberguers: Amazon Web Services &hébergement des données de santé: IBM </p>
      <%= link_to "Retour à l'accueil", "/bimedoc", class: "btn-blue btn btn-primary" %>
    </div>
  </div>

