<div class="container-messagerie-medecin">

  <!-- ## COLONNE DE GAUCHE ## -->
  <div style="float:left;width:20%;">
<!--     <div class="mt-2">
      <a href="/" class="">
        <%= image_tag "logo.svg", id:"logo" %>
      </a>
    </div> -->
    <div class="coordonnes-pharmacie mt-2 pl-1 pr-1 pt-1 pb-1">
      <div class="nom-pharmacien">
        <p><b>Dr Pierre Renaudin</b></p>
      </div>
      <p>Pharmacie Bimedoc</p>
      <p>18/20 rue tronchet</p>
      <p>69006 - Lyon</p>
      <p>06 07 70 51 02</p>
    </div>
    <div class="lien mt-1">
      <a href="http://pharmacie-clinique.fr/bilan-de-medication/">En savoir plus sur le bilan partagé de médication ?</a>
    </div>
<!--     <div class="mt-1">
      <a href="">Voir le recapitulatif de l'entretien de recueil d'information du patient</a>
    </div> -->
  </div>

<!-- ## COLONNE DE DROITE ## -->
  <div style="float:left;width:70%;" class="ml-3 mb-5 pb-10">
    <div class="block-presentation mt-3">
      <h2 style="text-align: center" class="mb-1">Synthèse pharmaceutique bilan partagé de médication</h2>
      <p style="text-align: left" class="mb-2">A l’attention du Dr <b>{{nom du mdédecin}}</b>, {{spécialitéPS}} à {{villePS}}, le {{date du jour}}</p>
      <p>Votre patient, <b>{{nom_patient}}, né le {{date_naissance_patient}}</b>, a accepté de réaliser un bilan partagé de médication le {{Date_realisation_entretien}}, dans le cadre de la loi des activités d’accompagnement pharmaceutique (avenant n°12 de la convention pharmaceutique du 21 novembre 2017).</p>
      <p>J’ai ainsi réalisé un entretien de recueil d’informations ainsi qu’une analyse des traitements médicamenteux pour lesquels différents avis pharmaceutiques vous sont proposés ci-dessous.</p>
      <p>Je me tiens à votre disposition pour en discuter avec vous si le souhaitez. A la suite de votre retour, un entretien « conseil » à l’officine sera également réalisé avec le patient pour lui indiquer ce que nous avons modifié à son traitement et les actions qui seront mises mises en place.</p>
      <p>Je me tiens à votre disposition pour en discuter avec vous si le souhaitez. A la suite de votre retour, un entretien « conseil » à l’officine sera également réalisé avec le patient pour lui indiquer ce que nous avons modifié à son traitement et les actions qui seront mises mises en place.</p>
      <p>Restant à votre disposition pour toute information complémentaire, je vous prie de croire, Docteur, en l’assurance de mes meilleures salutations.</p>
      <p>Dr {{Nom du pharmacien}}</p>
    </div>
    <div class="block-historique mt-4">
      <h3>Historique médicamenteux</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Médicament</th>
            <th scope="col">Posologie</th>
            <th scope="col">Date</th>
            <th scope="col">Remarque</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: #2F17FD">Doliprane 500 mg</td>
            <td>2 le matin, 2 le midi; 2 le soir</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td style="color: #2F17FD">Bisoprolol 2,5 mg</td>
            <td>1 le matin</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td style="color: #2F17FD">Kardegic 75 mg Sachet</td>
            <td>1 le midi</td>
            <td>-</td>
            <td>Dans un grand verre d'eau</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="block-observance mt-4">
      <h3>Evaluation de l'observance</h3>
      <div class="observance">
        <p>L'observance de Pierre Renaudin est de 6/6 selon l'échelle de Girerd. Cela correspond à une bonne observance.</p>
      </div>
    </div>
    <div class="block-avis mt-4">
      <h3>Avis pharmaceutiques</h3>
      <div class="avis-pharmaceutique pt-2 pb-1">
        <div class="block-flex">
          <div class="treatment">
            <p>Doliprane 500 mg gélule</p>
          </div>
          <div class=acceptation-avis>
            <label class="btn btn-accepter-outline">
              <input type="radio" name="options" id="option1" autocomplete="off" > Accepter
            </label>
            <label class="btn btn-refuser-outline">
              <input type="radio" name="options" id="option1" autocomplete="off"> Refuser
            </label>
<!--             <input type="radio" class="btn btn-accepter-outline"> <i class="fas fa-check icone"></i> Accepter</input>
            <button type="button" class="btn btn-refuser-outline"> <i class="fas fa-times icone"></i> Refuser</button> -->
          </div>
        </div>
        <div class="description-avis">
          <p>Le doliprane 500 mg ne se prescrit pas à la dose de 4g chez la personne âgée mais à la dose maximum de 3g / jour. Merci de réévaluer la prescription svp</p>
        </div>
        <div class="commentaire-medecin mt-1">
          <div class="form-group">
            <textarea class="form-control form-control-personnalise" id="exampleFormControlTextarea1" rows="3" placeholder="Ajouter un commentaire à l'avis pharmaceutique pour le pharmacien"></textarea>
          </div>
        </div>
      </div>
      <div class="avis-pharmaceutique pt-2 pb-1">
        <div class="block-flex">
          <div class="treatment">
            <p>Doliprane 500 mg gélule</p>
          </div>
          <div class=acceptation-avis>
            <label class="btn btn-accepter-outline">
              <input type="radio" name="options" id="option1" autocomplete="off" > Accepter
            </label>
            <label class="btn btn-refuser-outline">
              <input type="radio" name="options" id="option1" autocomplete="off"> Refuser
            </label>
          </div>
        </div>
        <div class="description-avis">
          <p>Le doliprane 500 mg ne se prescrit pas à la dose de 4g chez la personne âgée mais à la dose maximum de 3g / jour. Merci de réévaluer la prescription svp</p>
        </div>
        <div class="commentaire-medecin mt-1">
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ajouter un commentaire à l'avis pharmaceutique pour le pharmacien"></textarea>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="mt-2 mb-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">Sauvegarder et envoyer mes commentaires au pharmacien</button>
      <p style="text-align: center">Une copie de la synthèse pharmaceutique intégrant vos réponses vous sera transmise au format pdf</p>
    </div> -->
  </div>
</div>

<div class="footer-sticky fixed-bottom">
  <div class="texte-logo ml-4 mt-1 mb-1 pt-2">
    <div class="">
      <p>Solution géré par </p>
    </div>
    <div>
      <a href="/" class="" target="_blank">
        <%= image_tag "logo.svg", id:"logo2" %>
      </a>
    </div>
  </div>
  <div class="mt-1 mb-1 mr-4">
    <button type="button" class="btn btn-primary btn-lg btn-block">Sauvegarder et envoyer mes commentaires au pharmacien</button>
    <p style="text-align: center">Une copie de la synthèse pharmaceutique intégrant vos réponses vous sera transmise au format pdf</p>
    </div>

</div>
