<div class="container">
  <div class="bouton-group-centre mt-5">

    <!-- Nav tabs -->
    <ul class="nav btn-group nav-tabs bouton-groupe" role="tablist">
      <li role="presentation" class="active"><a href="#bpm" aria-controls="bpm" role="tab" data-toggle="tab">Bilan partagé de médication</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Analyse pharmaceutique</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Interprofessionalité</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mb-4">
      <div role="tabpanel" class="tab-pane active" id="bpm">
        <h2>Bimedoc vous permet de diminuer le temps de réalisation de vos BPM par deux</h2>
<!--         <div class="suite hauteur">
          <hr class="verticale">
          <hr class="coin coin-gauche-bas">
          <hr class="horizontale">
          <hr class="coin coin-droite-haut">
        </div> -->
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">1 - Le pharmacien complète le formulaire de recueil des données</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-users-medical fa-2x icone"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <%= image_tag "BPM_1heure.svg", class: "image_bpm"%>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">2 - L’algorithme analyse les données et soumet au pharmacien un certains nombre d’alertes</b>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-brain fa-2x icone"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-1 pr-3"></p>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">3 - Le pharmacien sélectionne les alertes les plus pertinentes puis Bimedoc crée un courrier de synthèse pharmaceutique</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-clipboard-list-check fa-2x icone"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <%= image_tag "BPM_analyse.svg", class: "image_bpm decalerverslehaut"%>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">4 - Le pharmacien peut envoyer la synthèse par messagerie sécurisée et recevoir les réponses du médecin directement dans l’application</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-paper-plane fa-2x icone"></i>

              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-1 pr-3">test</p>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">5 - Le pharmacien génère automatiquement un plan de prise pour le patient avec la possibilité d’y associer des conseils personnalisés</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-tablets fa-2x icone"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-1 pr-3">test</p>
          </div>
        </div>
        <div class="row hauteur">
          <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
            <p class="pl-1 pr-3">6 - Enfin, la déclaration sur AmeliPro est automatiquement faite depuis l’application</p>
            <div class="ensemble-icone">
              <div class="position-icone">
                <i class="fal fa-shield-check fa-2x icone"></i>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
            <p class="pl-1 pr-3">test</p>
          </div>
        </div>
      </div>
      <!-- ########## -->
      <!-- ######TAB ANALYSE PHARMACEUTIQUE###### -->
      <!-- ############ -->
      <div role="tabpanel" class="tab-pane" id="profile">Test2
      </div>
      <!-- ########## -->
      <!-- ######TAB MESSAGERIE SECURISEE###### -->
      <!-- ############ -->
      <div role="tabpanel" class="tab-pane" id="messages">
        <div class="container">

          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3">1 - Appuyer sur le bouton "envoyer par messagerie sécurisée" au niveau du document</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fas fa-search fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3">test</p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3">2 - Selectionner le professionnel de santé dans l'annuaire  des professionnels de santé</p>
              <p class="pl-1 pr-3">Bimedoc retrouve automatiquement l'adresse mail sécurisée du profesionnel de santé</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fas fa-search fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3">test</p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3">3 - Le médecin reçoit un mail contenant un lien qu'il pourra directement ouvrir depuis son ordinateur ou smartphine ...</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fas fa-search fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3">test</p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3">4 - ... et il pourra directement vous répondre en prenant connaissance des informations du patient ainsi que de vos avis pharmaceutiques.</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fas fa-search fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3">test</p>
            </div>
          </div>
          <div class="row hauteur">
            <div class="col-xs-12 col-sm-6 gauche pt-4 pb-4">
              <p class="pl-1 pr-3">5 - Les réponses du médecin seront directement intégré dans l'application. Vous n'aurez aucune retranscription à faire.</p>
              <div class="ensemble-icone">
                <div class="position-icone">
                  <i class="fas fa-search fa-2x icone"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 droite pt-4 pb-4">
              <p class="pl-1 pr-3">test</p>
            </div>
          </div>
          <h2>Bimedoc vous permet ainsi de gagner du temps et d'établir un relation de confiance avec les autres professionnels de santé.</h2>
        </div>
      </div>
    </div>
  </div>
</div>
