<div class="container">
  <div class="politique_confidentialite">
    <h1>Politique de confidentialité</h1>
    <h4>Mise à jour le 14/01/2019</h4>

    <h3>Préambule</h3>
    <p>Le Règlement général sur la protection des données (RGPD) est entré en vigueur le 25 mai 2018 et vient compléter la législation en matière de protection des données à caractère personnel.
    Pour votre information, une donnée à caractère personnel correspond à toute information relative à une personne physique identifiée ou qui peut être identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs éléments qui lui sont propres (nom, prénom, adresse, mail, téléphone, numéro de contrat, numéro CB, …).</p>
    <p>Un traitement de données à caractère personnel désigne toute opération sur ce type de données (collecte, stockage, transmission, suppression, …), que cela soit sur papier ou informatique. Le responsable de traitement est la personne qui détermine les finalités de chaque traitement et les moyens pour atteindre ces finalités.</p>
    <p>Pour la société Bimedoc, la protection de vos données est une priorité.</p>
    <p>Aussi, dans un souci de transparence, la présente Politique de Confidentialité a pour objectif de vous expliquer pourquoi vos données personnelles sont collectées et traitées par la société Bimedoc en sa qualité de responsable de traitement, comment celles-ci sont traitées, quels sont les droits dont vous disposez sur vos données et comment vous pouvez les exercer.</p>
    <p>La société se réserve le droit de modifier à tout moment la présente Politique de Confidentialité. Toute modification prendra effet immédiatement.</p>
    <p>Par conséquent, nous vous invitons à consulter régulièrement notre Politique afin de vous tenir informé de la dernière version en ligne applicable.</p>


    <h3>Objet du traitement de données</h3>
    <p>Le traitement a pour objet la prise de contact des visiteurs avec la société Bimedoc. Il permet la réception de demandes depuis le formulaire de contact ou par l’intermédiaire de Crisp.</p>
    <p>De façon générale, la société Bimedoc ne traite aucune de vos données à des fins incompatibles avec celles pour lesquelles elles ont été collectées, sauf accord préalable de votre part.</p>

    <h3>Données traitées</h3>
    <p>La société Bimedoc collecte différents types de données personnelles vous concernant lors du remplissage du formulaire de contact.</p>
    <p>Les données collectées peuvent être classées dans les catégories suivantes :</p>
    <ul>
      <li>Identité</li>
      <li>Coordonnées (adresse électronique)</li>
      <li>Date et objet de la demande</li>
      <li>Description</li>
    </ul>

    <p>Les données sont transmises de façon volontaire par le visiteur du site bimedoc.com qui souhaite adresser une demande.</p>

    <p>Les destinataires des données sont :</p>
    <ul>
      <li>le service de Bimedoc en charge de répondre aux demandes de renseignement  </li>
    </ul>

    <h3>Hébergement</h3>
    <ul>
      <li>IBM</li>
      <li>Service GSuite- GOOGLE</li>
      <li>Crisp</li>
    </ul>

    <h3>Durée de conservation</h3>
    <p>Les données sont conservées le temps nécessaire à la réalisation des finalités et n’excède pas la durée maximale de 3 ans.</p>

    <h3>Les cookies</h3>
    <p>Nous collectons automatiquement certaines informations vous concernant lorsque vous accédez au site de Bimedoc, notamment, les informations sur votre navigation. Bimedoc utilise des cookies et d’autres technologies de suivi pour collecter des informations vous concernant lorsque vous interagissez avec le site de Bimedoc.</p>

    <p>Pour en savoir plus sur les cookies et la manière de les désactiver, veuillez consulter le lien suivant.</p><a href="https://en.wikipedia.org/wiki/HTTP_cookie"></a>

    <h3>Base légale</h3>
    <p>La société Bimedoc collecte vos données personnelles pour les finalités décrites au point « Objet du traitement » de la présente Politique. Dans tous les cas, la société Bimedoc collecte vos données, uniquement lorsque leur collecte et leur traitement reposent sur un fondement juridique.
    Sous réserve d’avoir obtenu votre consentement préalable, la société Bimedoc peut traiter vos données pour :</p>
    <ul>
      <li>Vous transmettre des offres commerciales sur ses produits et services,</li>
      <li>Déposer des cookies dans les conditions décrites dans la Politique Cookies. Des cookies peuvent être également mis en place par les services tiers que Bimedoc utilise (Crisp, outils d'analytics, etc.).
    À tout moment, vous pouvez revenir sur votre choix et retirer votre consentement, selon les modalités décrites dans la section « Vos droits sur les données vous concernant » de la présente Politique, sans toutefois remettre en cause la légalité du traitement reposant sur le consentement et mis en œuvre avant le retrait.</li>
    </ul>

    <h3>Sécurité</h3>
    <p>La société Bimedoc met en œuvre toutes les mesures techniques, physiques et organisationnelles pour assurer la sécurité et la confidentialité de vos données lors de la collecte, du traitement et du transfert de vos données.</p>
    <p>Les infrastructures de la société Bimedoc sont protégées contre les logiciels malveillants; la sécurité de votre terminal relève de votre responsabilité.</p>
    <p>Dans le cas où nous serions susceptibles de faire appel à des prestataires pour traiter une partie de vos données, nous nous engageons à vérifier qu’ils présentent des garanties suffisantes pour assurer la protection des données personnelles qui leur sont confiées et à leur faire signer des clauses de confidentialité conformes à l’article 28 du RGPD. En cas de violation de données à caractère personnel, c’est-à-dire en cas d’incident de sécurité, d’origine malveillante ou non et se produisant de manière intentionnelle ou non, ayant comme conséquence de compromettre l’intégrité, la confidentialité ou la disponibilité de vos données personnelles, nous nous engageons à respecter les obligations suivantes :</p>
    <ul>
      <li>La violation des données n'engendre aucun risque : Documentation interne, dans le « registre des violations ».</li>
      <li>La violation des données engendre un risque : Documentation interne, dans le « registre des violations », Notification à la CNIL, dans un délai maximal de 72h.</li>
      <li>La violation des données un risque élevé : Documentation interne, dans le « registre des violations », Notification à la CNIL, dans un délai maximal de 72h et nous vous en informons dans les meilleurs délais</li>
    </ul>

    <p>Le « registre des violations » contient les éléments suivants :</p>
    <ul>
      <li>la nature de la violation ;</li>
      <li>les catégories et le nombre approximatif des personnes concernées ;</li>
      <li>les catégories et le nombre approximatif de fichiers concernés ;</li>
      <li>les conséquences probables de la violation ;</li>
      <li>les mesures prises pour remédier à la violation et, le cas échéant, pour limiter les conséquences négatives de la violation ;</li>
      <li>le cas échéant, la justification de l’absence de notification auprès de la CNIL ou d’information aux personnes concernées.</li>
    </ul>

    <p>Pour autant, et conformément à la réglementation en vigueur, nous ne sommes pas tenus de vous informer d’une violation dans les cas suivants :</p>
    <ul>
      <li>vos données à caractère personnel sont protégées par des mesures les rendant incompréhensibles pour toute personne qui n’est pas autorisée à y avoir accès ;</li>
      <li>des mesures ont été prises afin que le risque ne soit plus susceptible de se matérialiser ;</li>
      <li>cette communication exige pour nous des efforts disproportionnés, ne disposant notamment d’aucun élément permettant de vous contacter pour vous en informer.</li>
    </ul>


    <h3>Responsabilité</h3>
    <p>Afin de respecter nos responsabilités, notre société :</p>
    <ul>
      <li>adopte des procédures internes dans le but d’assurer le respect du règlement (charte informatique, charte de protection des données à caractère personnel) ;</li>
      <li>conserve une trace documentaire de tout traitement effectué sous sa responsabilité ou de celle du sous-traitant (tenue du registre des traitements, accords de confidentialité des salariés et des prestataires, politique de sécurité de l’entreprise, procédures de gestion des demandes d’accès, de rectification, d’opposition…) ;</li>
      <li>réalise des analyses d’impact (PIA) pour les traitements présentant des risques particuliers au regard des droits et libertés.</li>
    </ul>

    <h3>Vos droits sur les données vous concernant</h3>
    <p>Vous pouvez accéder et obtenir copie des données vous concernant, vous opposer au traitement de ces données, les faire rectifier ou les faire effacer. Vous disposez également d’un droit à la limitation du traitement de vos données.</p>

    <p><a title="Comprendre vos droits" href="https://www.cnil.fr/fr/les-droits-pour-maitriser-vos-donnees-personnelles"></a></p>

    <p>Le correspondant à la protection des données est votre interlocuteur pour toute demande d’exercice de vos droits.</p>
    <p>Toute demande doit préciser, en objet, le motif de la demande (exercice du droit d’accès, d’opposition, …). La demande doit également être accompagnée d’une copie recto verso d’une pièce d’identité en cours de validité et portant la signature du demandeur et préciser l’adresse à laquelle doit parvenir la réponse.</p>
    <p>La société Bimedoc vous adressera sa réponse dans un délai maximum de un (1) mois, à compter de la date de réception de votre demande. Ce délai peut toutefois être prolongé de deux (2) mois en raison de la complexité et du nombre de demandes.</p>
    <p>Contacter le correspondant à la protection des données par voie électronique : contact@bimedoc.com</p>
    <p>Contacter le correspondant à la protection des données par courrier postal :</p>
    <p>Pierre Renaudin</p>
    <p>Bimedoc</p>
    <p>51 rue Henri Gorjus</p>
    <p>69004 Lyon</p>


  </div>
</div>



