<div class="index">
  <div class="container">
    <div class="description">
      <h1>Bimedoc garantit la confidentialité de vos données</h1>
    </div>
    <div class="contenu">
      <div class="proprietaires">
        <div class="cards">
          <%= image_tag "proprietaire.svg", id: "securite-image" %>
          <p>Pharmacien, vous êtes propriétaires de vos données personnelles.</p>
        </div>
      </div>
      <div class="hebergeurs">
        <div class="cards">
          <%= image_tag "hebergeur.svg", id: "securite-image" %>
          <p>Bimedoc utilise un hébergeur agréés de données de santé</p>
        </div>
      </div>
      <div class="confidentialites">
        <div class="cards">
          <%= image_tag "confidentialites.svg", id: "securite-image" %>
          <p>Bimedoc garantit la confidentialité des données de santé</p>
        </div>
      </div>
    </div>
  </div>
</div>



