<div class="index">
  <div class="container">
    <div class="description">
      <h2>Bimedoc garantit la <span id="blue">protection des données personnelles</span> de ses utilisateurs</h2>
    </div>
    <div class="contenu">
      <div class="col-xs-12 col-sm-4">
        <div class="proprietaires">
          <div class="cards-securite alignement-horizontale">
            <%= image_tag "proprietaire.svg", id: "securite-image" %>
            <h3>Bimedoc garantit la <span id="blue">confidentialité de vos données</span></h3>
          </div>
          <p id="margin">Nous nous engageons à ne partager aucune information nominative  avec qui que ce soit</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="hebergeurs">
          <div class="cards-securite alignement-horizontale">
            <%= image_tag "hebergeur.svg", id: "securite-image" %>
            <h3>Bimedoc utilise un <span id="blue">hébergeur agréé de données de santé</span></h3>
          </div>
          <p id="margin">Les données de santé des utilisateurs de Bimedoc sont conservées chez un hébergeur bénéficiant de l’agrément « Hébergeur Agréé de Données de Santé » (HADS) délivré par le Ministère de la Santé.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="confidentialites">
          <div class="cards-securite alignement-horizontale">
            <%= image_tag "confidentialites.svg", id: "securite-image" %>
            <h3>Bimedoc garantit la <span id="blue">confidentialité des données de santé</span></h3>
          </div>
          <p id="margin">Les données de santé des utilisateurs de Bimedoc sont chiffrées et sont gérées en plein accord avec les recommandations du Conseil National de l’Ordre des Médecins (CNOM) et des instances ordinales représentant les autres professions de santé.</p>
        </div>
      </div>
    </div>
  </div>
</div>



