<div class="index">
  <div class="container">
    <div class="description">
      <h1>Bimedoc garantit la confidentialité de vos données</h1>
    </div>
    <div class="contenu">
      <div class="proprietaires">
        <div class="cards">
          <%= image_tag "proprietaire.svg", id: "securite-image" %>
          <p>Pharmacien & patients sont propriétaires de leurs données de santé.</p>
        </div>
        <p>Les données de santé sont la propriété exclusive des patients et des praticiens qui utilisent Bimedoc. Les équipes de Bimedoc n’y ont tout simplement pas accès.</p>
      </div>
      <div class="hebergeurs">
        <div class="cards">
          <%= image_tag "hebergeur.svg", id: "securite-image" %>
          <p>Bimedoc utilise un hébergeur agréés de données de santé</p>
        </div>
        <p>Les données de santé des utilisateurs de Bimedoc sont conservées chez un hébergeur bénéficiant de l’agrément « Hébergeur Agréé de Données de Santé » (HADS) délivré par le Ministère de la Santé.</p>
      </div>
      <div class="confidentialites">
        <div class="cards">
          <%= image_tag "confidentialites.svg", id: "securite-image" %>
          <p>Bimedoc garantit la confidentialité des données de santé</p>
        </div>
        <p>Les données de santé des utilisateurs de Bimedoc sont chiffrées et sont gérées en plein accord avec les recommandations du Conseil National de l’Ordre des Médecins (CNOM) et des instances ordinales représentant les autres professions de santé.</p>
      </div>
    </div>
  </div>
</div>



