<div class="container mt-5 mb-5">
  <div class="padding-top-mobile">
    <div class="description hide_on_mobile mb-3">
      <h2>Des prix clairs et tranparents</h2>
    </div>
    <div class="text-center">
      <ul class="nav btn-group nav-tabs bouton-groupe bouton-group-centre">
        <li role="presentation" class="active"><a href="#officine" aria-controls="officine" role="tab" data-toggle="tab">Pharmacie d'officine</a></li>
        <li role="presentation"><a href="#etablissement" aria-controls="etablissement" role="tab" data-toggle="tab">Etablissement de santé</a></li>
      </ul>
    </div>
    <div class="tab-content mt-4">
      <div role="tabpanel" class="tab-pane active" id="officine">
        <div>
          <table class="table">
          <thead>
            <th>
              <div class="mb-1">
                <p>Tarif / Mois (HT) & Pharmacie, sans engagement</p>
              </div>
            </th>
            <th class="text-center card_header">
<!--               <i class="fad fa-bicycle fa-3x icone_blue"></i> -->
              <h2 class="color-blue">Freemium</h2>
              <div class="exemple-blue">
                <P>Gratuit</P>
              </div>
              <br>
            </th>
            <th></th>
            <th class="text-center card_header">
<!--               <i class="fad fa-plane-departure fa-3x icone_green"></i> -->
              <h2 class="color-blue">Standard</h2>
              <div class="exemple-blue">
                <p>30€ / mois</p>
              </div>
              <br>
            </th>
            <th></th>
            <th class="text-center card_header">
<!--               <i class="fad fa-rocket-launch fa-3x icone_purple"></i> -->
              <h2 class="color-blue">Premium</h2>
              <div class="exemple-blue">
                <P>50€ / mois</P>
              </div>
              <br>
            </th>
          </thead>
          <tbody>
            <tr>
              <th>Assistant d’analyse pharmaceutique</th>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Messagerie sécurisée Bimedoc</th>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Test antigénique COVID-19 (Déclaration au SI-DEP)</th>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Dossier patient</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Bilan partagé de médication</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Anticoagulant</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Asthme</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Chimiothérapie Orale</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
            </tr>
            <tr>
              <th>Rappel des entretiens à réaliser / Tableau de bord</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
            </tr>
            <tr>
              <th>Envois de documents médicaux par messagerie sécurisée</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Bimedoc Connect</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Planning d'équipe</th>
              <td class="card_body"></td>
              <td></td>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Agenda et prise de rendez-vous en ligne</th>
              <td class="card_body"></td>
              <td></td>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <td></td>
              <td class="card_footer"></td>
              <td></td>
              <td class="card_footer"></td>
              <td></td>
              <td class="card_footer"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


      <div role="tabpanel" class="tab-pane" id="etablissement">
        <div>
          <table class="table">
          <thead>
            <th>
            </th>
            <th class="text-center card_header">
<!--               <i class="fad fa-bicycle fa-3x icone_blue"></i> -->
              <h2 class="color-blue">Freemium</h2>
              <div class="exemple-blue">
                <P>Gratuit</P>
              </div>
              <br>
            </th>
            <th></th>
            <th class="text-center card_header">
<!--               <i class="fad fa-plane-departure fa-3x icone_green"></i> -->
              <h2 class="color-blue">Standard</h2>
              <div class="exemple-blue">
                <p>50€ / mois</p>
              </div>
              <br>
            </th>
          </thead>
          <tbody>
            <tr>
              <th>Assistant d’analyse pharmaceutique</th>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Messagerie sécurisée Bimedoc</th>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Dossier patient</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Conciliation médicamenteuse</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Bilan de médication</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Anticoagulant</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Asthme</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
            </tr>
            <tr>
              <th>Entretien pharmaceutique Chimiothérapie Orale</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body">Prochainement</td>
            </tr>
            <tr>
              <th>Envois de documents médicaux par messagerie sécurisée</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
             <tr>
              <th>Statistique</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <th>Bimedoc Connect</th>
              <td class="card_body"></td>
              <td></td>
              <td class="text-center card_body"><i class="fas fa-check oval-green-25"></i></td>
            </tr>
            <tr>
              <td></td>
              <td class="card_footer"></td>
              <td></td>
              <td class="card_footer"></td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="wrapper wrapper_bimedoc">
  <div class="wrapper_bpm">
    <h2>Développé par des pharmaciens, pour des pharmaciens</h2>
    <div class="deux-boutons">
      <%= link_to "Je m'inscris maintenant", "/inscription.html", class: "btn button_wrapper_bpm", target: "_blank" %>
      <%= link_to "Demander une démo", "/demo.html", class: "btn button_wrapper_bpm_blanc"%>
    </div>
    <p>30 € / Mois (HT) & Pharmacie, sans engagement</p>
  </div>
</div>
