
  <div class="container">
    <div class="tarif padding-top-mobile">

      <div class="description hide_on_mobile">
        <h2>Des prix clairs et tranparents</h2>
      </div>

      <div class="cards standard">
        <h2 class="color-green">Annuel</h2>
        <div class="exemple-green">
          <p>Premier mois offert</p>
        </div>
        <h1 class="prix">25€</h1>
        <p>/Mois (HT) & Pharmacie</p>
        <h3>Engagement de 12 mois</h3>
        <br>
        <br>
        <h3>2 collaborateurs inclus</h3>
      </div>

      <div class="cards avance">
        <h2>Mensuel</h2>
        <div class="exemple-purple">
          <p>Premier mois offert</p>
        </div>
        <h1 class="prix">30€</h1>
        <p>/Mois (HT) & Pharmacie</p>
        <h3>Sans engagement</h3>
        <br>
        <br>
        <h3>2 collaborateurs inclus</h3>
      </div>


      <div class="collaborateur">
        <a class="collapse-collaborateur" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Besoins de plus de collaborateurs ?</a>
        <div class="collapse" id="collapseExample">
          <div class="cards">
            <table class="table">
              <thead></thead>
              <tbody>
                <tr>
                  <th>Pharmacien titulaire d’officine</th>
                  <td>8 € HT / mois</td>
                </tr>
                 <tr>
                  <th>Pharmacien adjoint d’officine</th>
                  <td>8 € HT / mois</td>
                </tr>
                 <tr>
                  <th>Interne en pharmacie</th>
                  <td>6€ HT / mois</td>
                </tr>
                 <tr>
                  <th>Etudiant en pharmacie</th>
                  <td>4€ HT / mois</td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>


      </div>


  </div>
</div>
