
<div class="container">
  <div class="tarifs">
    <div class="description">
      <h2>Des prix clairs et tranparent</h2>
      <h2>Premier mois offert</h2>
    </div>
    <div class="cards standard">
      <h3><i class="fas fa-hand-point-right"></i>Standard</h3>
    </div>
    <div class="cards premium">
      <h3>Premium</h3>
    </div>
    <div class="cards avance">
      <h3>Avancé</h3>
    </div>

  </div>



</div>
